<form action="/reg" method="post">
  <label for="userName">Login</label><br>
  <input type="text" name="userName" /><br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password" /><br><br>
  <input type="submit" value="Registrate" />
</form>

